h1{
    font-size:50px;
    font-weight: bold;
    font-family: serif;
     color:aliceblue;
}

h2{
 color:aliceblue;
}
h3,h4{
     color:aliceblue;
}
.kep_balra{
    float: left;
}
.kep_jobbra{
    float: right;
}
.kep_kozepen{
    align-items: center;
}

img{
    border-radius: 10%;
    border-color: rgb(43, 43, 43);
    border-style:groove;
    border-width: 10px;
}
.szoveg_balra{
    text-align:left;
}
.szoveg_kozepre{
    text-align:center;
}
.szoveg_jobbra{
    text-align:right;
}
body {
    background-image: url("hatter_2.0.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    
}
p{
    color:aliceblue;
}

.index_div{
    color: aliceblue;
    
    
}

.szovegek{
    border-radius: 3%;
    border-width: thin;
    width: 65%;
    height: 99%;
    
    
    margin-left: 16%;
}

hr{
    height: 20px;
}

.also{
    margin-bottom: 30px;
    text-align: start;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bevezeto_h2{
    color:white;
    margin-left: 10px;;
}

.lemansh3{
    float: left;
    color: white;
    margin-left: 10px;
    margin-right: 7px;
}

.bevezeto_szoveg{
    margin-left: 7%;
    font-family:cursive;
    font-size: 20px;
}

.lemans_szoveg{
    margin-left: 7%;
    text-align: justify;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.wrc_h3{
    color: rgb(255, 255, 255);
    text-align: start;
}

.wrc_p{
    text-align: justify;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.f1_h3{
    text-align: justify;
    color: rgb(255, 255, 255);
}

.f1_p{
    text-align: justify;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.csik{
    color: aliceblue;
}

.gombok{
    float: left;
    
}


.ismeretterjeszto{
    font-family: serif;
    text-align: left;
}

.fooldal_tablazat{
    margin-top: 50px;
    font-size: larger;
    color: aliceblue;
    text-align: start;
    border-radius: 10px;
    padding: 10px;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.w14{
    margin-bottom: 20px;
}
.lista{
    color: aliceblue;
    text-align: start;

}

.skoda{
    margin-top: 30px;
}

.vilagbajnokok{
    text-align: start;
}

