h1{
    font-size:50px;
    font-weight: bold;
    font-family: sans-serif;
}

h2{

}
.kep_balra{
    float: left;
}
.kep_jobbra{
    float: right;
}
.kep_kozepen{
    align-items: center;
}

img{
    border-radius: 10%;
    border-color: rgb(43, 43, 43);
    border-style:groove;
    border-width: 10px;
}
.szoveg_balra{
    text-align:left;
}
.szoveg_kozepre{
    text-align:center;
}
.szoveg_jobbra{
    text-align:right;
}
body {
     background-image: url("hatter_2.0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
p{
    color:aliceblue;
}

.index_div{
    border-radius: 10%;
    border-color: cornflowerblue;
    border-width:medium;
}
